aiohttp==3.7.4.post0
asgiref==3.4.1
async-timeout==3.0.1
attrs==21.2.0
branca==0.4.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
Django==3.2.5
django-crispy-forms==1.12.0
folium==0.12.1
future==0.18.2
geographiclib==1.52
geoip2==4.2.0
geopy==2.2.0
idna==3.2
iso8601==0.1.16
Jinja2==3.0.1
MarkupSafe==2.0.1
maxminddb==2.0.3
multidict==5.1.0
numpy==1.21.2
pyserial==3.5
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
serial==0.0.97
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
